<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @note.board_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @note.details %>
</p>

<p>
  <strong>Remind date:</strong>
  <%= @note.remind_date %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
