<%= form_for(Interaction.new) do |interaction| %>
  <div class="modal-content">
    <h5 class="center">Create New Interaction</h5>
    <div class="row">
      <div class="col s12 m6">
        <div class="input-field">
          <%= interaction.hidden_field :application_id %>
        </div>
        <div class="input-field">
          <%= interaction.label :title %>
          <%= interaction.text_field :title %>
        </div>
        <div class="input-field">
          <%= interaction.label :category, :class => "active" %>
          <%= interaction.select(:category, options_for_select(Interaction.categories_for_select), {}, {class: "materialize-select"}) %>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="input-field">
          <%= interaction.label :date %>
          <%= date_field :interaction, :date, :class => "datepicker" %>
        </div>
        <div class="input-field">
          <%= interaction.label :details %>
          <%= interaction.text_area :details, :class => "materialize-textarea" %>
        </div>
      </div>
    </div>
    <div class="row">
      Want to add a <a class="interaction-new-contact-trigger" href="#!">new contact?</a> Or maybe an <a class="interaction-existing-contact-trigger" href="#!">existing contact?</a>
      <br />
      <br />
      <div class="interaction-new-contact" style="display: none;">
        <%= fields_for :company do |company| %>
          <%= fields_for :contact do |contact| %>
            <h5 class="center">Add New Contact</h5>
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <%= contact.hidden_field :company_id %>
                </div>
                <div class="input-field">
                  <%= contact.label :name %>
                  <%= contact.text_field :name %>
                </div>
                <div class="input-field">
                  <%= contact.label :email %>
                  <%= contact.text_field :email %>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <%= contact.label :phone_number %>
                  <%= contact.text_field :phone_number %>
                </div>
                <div class="input-field">
                  <%= contact.label :role %>
                  <%= contact.number_field :role %>
                </div>
                <div class="actions">
                  <%= contact.submit "Create Contact", :id => "interaction-new-contact-submit", :style => "display: none;" %>
                </div>
              </div>
              <h5 class="center">Add New Contact Company</h5>
              <div class="input-field">
                <%= company.hidden_field :id %>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <%= company.label :name %>
                  <%= company.text_field :name %>
                </div>
                <div class="input-field">
                  <%= company.label :location %>
                  <%= company.text_field :location %>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <%= company.label :website %>
                  <%= company.text_field :website %>
                </div>
                <div class="input-field" >
                  <%= company.label :logo %>
                  <%= company.text_field :logo %>
                </div>
              </div>
              <div class="col s12 m6">
                <%= image_tag("https://media.glassdoor.com/sqll/9079/google-squarelogo-1441130773284.png", :alt => "company_logo", :id => "company_logo_img") %>
              </div>
              <div class="actions" style="display: none;">
                <%= contact.submit %>
              </div>
            </div>
          <% end %>
          <div class="actions" style="display: none;">
            <%= company.submit %>
          </div>
        <% end %>
      </div>
      <div class="interaction-existing-contact" style="display: none;">
        <div class="input-field">
          <%= interaction.label :contact_id, "Existing Contact" %>
          <%= interaction.text_field :contact_id %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer actions">
    <%= interaction.submit :id => "interaction-new-submit", :class => "modal-action modal-close btn-flat" %>
  </div>
<% end %>
