<%= form_for(@interaction) do |f| %>
  <div class="modal-content">
    <h5 class="strong title">Edit <%= @interaction.title %> Interaction</h5>
    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <%= f.label :title, :class => "active" %>
          <%= f.text_field :title %>
        </div>
        <div class="input-field">
          <%= f.label :category, :class => "active" %>
          <%= f.select(:category, options_for_select(Interaction.categories_for_select, @interaction.category), {}, {class: "materialize-select"}) %>
        </div>
        <div class="input-field">
          <%= f.label :date, :class => "active" %>
          <% date = (@interaction.date.present?) ? @interaction.date.strftime("%-d %B, %Y") : "" %>
          <%= date_field :interaction, :date, :value => date, :class => "datepicker" %>
        </div>
        <div class="input-field">
          <%= f.label :contact_id, :class => "active" %>
          <%= f.number_field :contact_id %>
        </div>
        <div class="input-field">
          <%= f.label :details, :class => "active" %>
          <%= f.text_area :details, :class => "materialize-textarea" %>
        </div>
        <div class="input-field">
          <%= f.check_box :followup, :id => "followup" %>
          <%= f.label "Have you followed-up yet?", :class => "active", :id => "followup"  %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer actions">
    <%= f.submit :class => "modal-action modal-close btn-flat" %>
  </div>
<% end %>
