<b><%= @interaction.title || "" %> - <%= @category || "" %></b>
<p><%= (@interaction.date) ? @interaction.date.strftime("%B %-d, %Y") : "" %></p>
<p><%= @interaction.details || "" %></p>
<% if @interaction.contact.present? %>
  <p>Name: <%= @interaction.contact.name %></p>
  <p>Email: <%= @interaction.contact.email %></p>
  <p>Phone Number: <%= @interaction.contact.phone_number %></p>
  <p>Role: <%= @interaction.contact.role %></p>
<% end %>
<br />
