<%= form_for(@application) do |f| %>
  <div class="modal-content">
    <h4>Edit <%= @application.company.name %> Application</h4>
    <div class="row">
      <div class="col s12">
        <div class="field">
          <%= f.hidden_field :id %>
        </div>
        <div class="field">
          <%= f.hidden_field :board_id %>
        </div>
        <div class="field">
          <%= f.label :stage %><br>
          <%= f.text_field :stage %>
        </div>
        <div class="field">
          <%= f.label :applied_date %><br>
          <%= date_field :application, :applied_date %> <br>
        </div>
        <div class="field">
          <%= f.label :company_id %><br>
          <%= f.number_field :company_id %>
        </div>
        <div class="field">
          <%= f.label :job_id %><br>
          <%= f.number_field :job_id %>
        </div>
        <div class="field">
          <%= f.label :category %><br>
          <%= f.number_field :category %>
        </div>
        <div class="field">
          <%= f.label :settings %><br>
          <%= f.text_field :settings %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer actions">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" href="#!">
      <%= f.submit %>
    </a>
  </div>
<% end %>
