<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Board:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Job:</strong>
  <%= @application.job_id %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @application.stage %>
</p>

<p>
  <strong>Category:</strong>
  <%= @application.category %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @application.settings %>
</p>

<p>
  <strong>Interactions:</strong>
  <% @interactions.each do |interaction| %>
    <%= interaction.title %> </br>
  <% end %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
