<div class="section application-show-modal-title" style="padding-top: 0;">
  <% if @application.company.logo.present? %>
    <img src="<%= @application.company.logo %>" width="150" style="float: right;" />
  <% end %>
  <h4><%= @application.job || "" %></h4>
  <p><%= @application.company.name %> - <%= @application.company.location %></p>
  <p><%= Application::CATEGORIES[@application.category] %> Position</p>
</div>
<div class="section">
  <p>Date Applied: <%= (@application.applied_date?) ? @application.applied_date.strftime("%B %-d, %Y") : "" %></p>
  <p>Status: <%= @stage || "" %></p>
  <p>Category: <%= @category || "" %></p>
  <p></p>
</div>
<% if @interactions.length > 0 %>
  <div class="divider"></div>
  <div class="section">
    <h4>Interactions</h4>
    <% @interactions.each do |interaction| %>
      <div class="section">
        <b><%= interaction.title || "" %> - <%= interaction.category || "" %></b>
        <p><%= (interaction.date) ? interaction.date.strftime("%B %-d, %Y") : "" %></p>
        <p><%= interaction.details || "" %></p>
        <% if interaction.contact.present? %>
          <p>Name: <%= interaction.contact.name %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
