<div class="row">
  <h4>Hey <%= @user.name.split.first %>, </h4>
</div>
<div class="row center">
  We hope your <%= @category%> with <%= @company %> went well! Just wanted to check in and see if you  had sent a follow-up email to <%= @interaction.contact.name %> afterwards?
</div>
<div class="row">
  <div class="col s4 center">
    <i class="medium material-icons">email</i>
    <h5> Make a lasting impression. </h5>
    <a class="waves-effect waves-light btn-large amber lighten-1" href="mailto:<%=@interaction.contact.email%>?Subject=<%=@category%>%Follow%Up" target="_top"> Email <%= @interaction.contact.name %> now! </a>
  </div>

  <div class="col s4 center">
      <i class="medium material-icons">list</i>
      <h5> Learn more about follow-up ettiquette. </h5>
      <a class="waves-effect waves-light btn-large red lighten-2" href="http://www.getsidekick.com/follow-up-email-after-interview"> Check out some tips! </a>
  </div>
  
  <div class="col s4 center">
      <i class="medium material-icons">thumb_up</i>
      <h5> Stop getting these emails. </h5>
      <a class="waves-effect waves-light btn-large green darken-1" href="<%= url_for(:host => "www.sangriaapp.tk",
        :controller => "interactions",
        :action => "followed_up", :id => @interaction.id) %>"> I followed-up :)</a>
  </div>
  
</div>
<div class="row center">
<h6> XOXO, The Sangria Team </h6>
</div>
