Hi <%= @user.name %>,
Have you sent a follow-up email after your <%= @category %> with <%= @interaction.contact.name %>?  If yes, <a href='www.sangriaapp.tk/interactions/'+<%=@interaction.id.to_s%>+'/followed_up'> let us know so we will stop sending you reminder emails.</a> 
      If not, you should! And you can contact <%= @interaction.contact.name %> at <%= @interaction.contact.email %>.