<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>, </h1>
    <p>
      Have you sent a follow-up email after your <%= @category%> with 
      <% if not @interaction.contact.nil? %>
        <%= @interaction.contact.name %> 
      <% else %>
        contact at <%= @interaction.application.company.name %>
      <% end %>
      ? 
      If yes, <%= url_for(@url) %> let us know so we will stop sending you reminder emails. 
      If not, you should! And you can contact <%= @interaction.contact.name %> at <%= @interaction.contact.email %>.
    </p>

  </body>
</html>