<%= form_for(@company, builder: ComboboxFormBuilder) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :name %>
    <%= f.combobox_tag('company[name]', [], :list_id => "company_list", :form_class => "form_company", :input_id => "company_name")%>
  </div>

  <div class="input-field">
    <%= f.label :location, :class => "active" %>
    <%= f.text_field :location %>
  </div>
  <div class="input-field">
    <%= f.label :website, :class => "active" %>
    <%= f.text_field :website %>
  </div>
  <div class="field" >
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
    <%= image_tag("https://media.glassdoor.com/sqll/9079/google-squarelogo-1441130773284.png", :alt => "company_logo", :id => "company_logo_img") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
