<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<!-- <div id="sidebar">

</div> -->

<!-- <div class="animate">
        <p class="button"><i class="material-icons">description</i></p>
</div> -->

<div class="row" style="margin: 0">
	<div class="col s12 m6 l3 title-board" >
		<%= form_for @board do |f| %>
			<div class="title-icons">
				<%= link_to 'add', "#board-new-modal", :class => "material-icons board-new-modal-trigger" %>
				<%= link_to 'arrow_drop_down', "#board-change-modal", :class => "material-icons board-change-modal-trigger" %>
				<%= link_to 'delete', @board, method: :delete, data: { confirm: 'Are you sure?' }, :class => "material-icons" %>
				<%= link_to "description", new_note_path(board_id: @board.id) , :class=> "material-icons "%>
				<br>
			</div>
			<%= f.text_field :title, :style => "font-size: 2rem; margin-top:1rem;" %>
		<% end %>
	</div>
</div>
<div class="row">
	<% @applications.each_with_index do |stage, index| %>
		<div class="col s12 m6 l3">
			<div class="card cyan lighten-2">
				<div class="card-content" style="padding: 0px 20px">
					<span class="card-title"><%= @stages[index] %></span>
					<a href="#application-new-modal" class="application-new-modal-trigger" data-stage_num="<%= index+1 %>" data-board_id="<%= @board.id %>"><i class="material-icons card-title right">add</i></a>
				</div>
			</div>


			<% stage.each do |application| %>
				<div class="card">
					<div class="card-content">
						<span class="card-title"><a href="#application-show-modal" class="application-show-modal-trigger" data-application_id="<%= application.id %>">
							<% if application.company && application.company.logo? %>
								<img src="<%= application.company.logo %>" style="max-width:100px; max-height:100px; background-color: #ffffff; padding: 0.1em;" />
							<% else %>
								<%= application.company.name %>
							<% end %>
						</a></span>
						<p class="teal-text text-darken-4"><%= application.company.location %></p>
						<% if application.current_interaction != nil %>
							<div class="divider" style="margin: 1em 0;"></div>
							<h6>Most Current Interaction</h6>
							<a href="#interaction-show-modal" class="interaction-show-modal-trigger" data-interaction_id="<%= application.current_interaction.id %>"><%= application.current_interaction.title %></a>
							<p class="teal-text text-darken-4"><%= truncate(application.current_interaction.details, length: 50, separator: " ") %></p>
						<% end %>
					</div>
					<div class="card-action" style="text-align: right;">
						<!-- <a href="#application-edit-modal" class="application-edit-modal-trigger" data-application_id="<%= application.id %>"><i class="material-icons card-title">edit</i></a> -->
						<a href="#interaction-new-modal" class="interaction-new-modal-trigger" style="margin-right: 0;" data-application_id="<%= application.id %>"><i class="material-icons card-title black-text">add</i></a>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>

<!-- 	<div class="col s12 m6 l2">
		<div class="card cyan lighten-2">
			<div class="card-content" style="padding: 0px 20px;">
				<span class="card-title">
					Notes
				</span>
				<p>
					This is a note
				</p>
			</div>
		</div>
	</div> -->

</div>

<div id="extruder" class="{title:'Notes', url:'boards/extruderTop.html'}"> </div>

<div id="board-change-modal" class="modal modal-fixed-footer">
	<div class="modal-content center">
		<h4 class="">Change Boards</h4>
		<% @boards.each do |board| %>

		<div class="<%= (board.id == @board.id) ? "selected" : "" %>"><%= link_to board.title, board, :class=>"card-panel light-grey waves-effect waves-teal" %>
		</div>

		<% end %>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat ">Cancel</a>
	</div>
</div>



<div id="application-show-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
	</div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close btn-flat">Exit</a>
	  <a href="#application-edit-modal" class="modal-action modal-close btn-flat application-edit-modal-trigger" data-application_id="">Edit</a>
	  <a href="#!" data-confirm="Are you sure?" class="modal-action modal-close btn-flat application-delete-modal-trigger" rel="nofollow" data-method="delete">Delete</a>
	</div>
</div>

<div id="application-new-modal" class="modal modal-fixed-footer"></div>

<div id="application-edit-modal" class="modal modal-fixed-footer"></div>



<div id="interaction-show-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
	</div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close btn-flat">Exit</a>
	  <a href="#interaction-edit-modal" class="modal-action modal-close btn-flat interaction-edit-modal-trigger" data-interaction_id="">Edit</a>
	  <a href="#!" data-confirm="Are you sure?" class="modal-action modal-close btn-flat interaction-delete-modal-trigger" rel="nofollow" data-method="delete">Delete</a>
	</div>
</div>

<div id="interaction-new-modal" class="modal modal-fixed-footer"></div>

<div id="interaction-edit-modal" class="modal modal-fixed-footer"></div>

<div id="board-new-modal" class="modal modal-fixed-footer"></div>

<div id="datepicker_container"></div>

<script type="text/javascript">
  window.onload = function(event){
    var companies = <%= @companies.html_safe %>;
    addCompanies(companies, false);
  };
</script>
