<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<%= link_to "New note", new_note_path(board_id: @board.id) %> <br>



<div class="row" style="margin: 0">
<div class="col s12 title-board">
	<%= form_for @board do |f| %>
		<div class="title-icons">
			<%= link_to 'add', "#board-new-modal", :class => "material-icons board-new-modal-trigger" %>
			<%= link_to 'more_vert', "#board-change-modal", :class => "material-icons board-change-modal-trigger" %>
			<%= link_to 'delete', @board, method: :delete, data: { confirm: 'Are you sure?' }, :class => "material-icons" %>
		</div>
		<%= f.text_field :title, :style => "font-size: 2rem;" %>
	<% end %>
</div>
</div>
<div class="row">
	<% @applications.each_with_index do |stage, index| %>
		<div class="col s3">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text" style="padding: 5px 20px">
					<span class="card-title"><%= @stages[index] %></span>
					<a href="#application-new-modal" class="application-new-modal-trigger" data-stage="<%= @stages[index] %>" data-stage_num="<%= index+1 %>"><i class="material-icons card-title right">add</i></a>
				</div>
			</div>

			<% stage.each do |application| %>
			<div class="card teal">
				<div class="card-content white-text">
					<!-- <span class="card-title white-text"><a href="#application-show-modal" class="application-show-modal-trigger" data-application_id="<%= application.id %>"><%= application.company.name %></a></span> -->
					<span class="card-title white-text"><a href="#application-show-modal" class="application-show-modal-trigger" data-application_id="<%= application.id %>"><img src="<%= application.company.logo %>" style="max-width:100px; max-height:100px; background-color: #ffffff; padding: 0.1em;" /></a></span>
					<p class="teal-text text-darken-4"><%= application.company.location %></p>
					<% if application.current_interaction != nil %>
						<hr />
						<h6>Most Current Interaction</h6>
						<a href="#interaction-show-modal" class="interaction-show-modal-trigger" data-interaction_id="<%= application.current_interaction.id %>"><%= application.current_interaction.title %></a>
						<p class="teal-text text-darken-4"><%= truncate(application.current_interaction.details, length: 50, separator: " ") %></p>
					<% end %>
				</div>
				<div class="card-action" style="text-align: right;">
					<!-- <a href="#application-edit-modal" class="application-edit-modal-trigger" data-application_id="<%= application.id %>"><i class="material-icons card-title">edit</i></a> -->
					<a href="#interaction-new-modal" class="interaction-new-modal-trigger" style="margin-right: 0;" data-application_id="<%= application.id %>"><i class="material-icons card-title">add</i></a>
				</div>
			</div>
			<% end %>
		</div>
	<% end %>
</div>

<div id="board-change-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Change Boards</h4>
		<% @boards.each do |board| %>
		<p class="model-options <%= (board.id == @board.id) ? "selected" : "" %>"><%= link_to board.title, board %><p>
		<% end %>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
	</div>
</div>



<div id="application-show-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
	</div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close btn-flat">Exit</a>
	  <a href="#application-edit-modal" class="modal-action modal-close btn-flat application-edit-modal-trigger" data-application_id="">Edit</a>
	  <a href="#!" data-confirm="Are you sure?" class="modal-action modal-close btn-flat application-delete-modal-trigger" rel="nofollow" data-method="delete">Delete</a>
	</div>
</div>

<div id="application-new-modal" class="modal modal-fixed-footer">
	<%= render 'applications/form_new' %>
</div>

<div id="application-edit-modal" class="modal modal-fixed-footer"></div>



<div id="interaction-show-modal" class="modal modal-fixed-footer">
	<div class="modal-content">
	</div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close btn-flat">Exit</a>
	  <a href="#interaction-edit-modal" class="modal-action modal-close btn-flat interaction-edit-modal-trigger" data-interaction_id="">Edit</a>
	  <a href="#!" data-confirm="Are you sure?" class="modal-action modal-close btn-flat interaction-delete-modal-trigger" rel="nofollow" data-method="delete">Delete</a>
	</div>
</div>

<div id="interaction-new-modal" class="modal modal-fixed-footer">
	<%= render 'interactions/form_new' %>
</div>

<div id="interaction-edit-modal" class="modal modal-fixed-footer"></div>


<div id="board-new-modal" class="modal modal-fixed-footer">
	<%= render 'boards/form_new' %>

	<script type="text/javascript">
	  window.onload = function(event){
	    var companies = <%= @companies.html_safe %>;
	    addCompanies(companies, false);
	  };
	</script>
</div>
