<!DOCTYPE html>
<html>
<head>
  <title>Sangria</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="86395741144-kuud9m0qe39cpppfrt0j1e9h947257iq.apps.googleusercontent.com"/>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav class="cyan lighten-2" role="navigation">
    <!-- Dropdown Structure for profile options -->

    <ul id="profile_options" class="dropdown-content">
      <li><a href="#!">Settings</a></li>
      <li class="divider"></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>

    <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo">Sangria</a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <!-- Now defaults to the last created board -->
          <li><%= link_to 'Boards', current_user.boards.last %></li>
          <li><%= link_to 'Applications', applications_path %></li>
          <li><%= link_to 'Companies', companies_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="profile_options"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
            <li><%= link_to "Login with Google", "/auth/google_oauth2" %></li>
            <li><%= link_to "Login with Facebook", "/auth/facebook" %></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

  </nav>

<div class="content">
  <%= yield %>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
